.navbar-header { padding-right: 2em; padding-left: 2em; }
.navbar-header .navbar-brand { padding-top: 36px; }

#event-select .panel-body {
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#event-select .event, #event-arrange .event {
    padding: 3px;
    margin: 5px;
    background-image: linear-gradient(#eee, white);
    border: 1px solid #ddd;
    border-radius: 5px;
}

.event .event-name { font-weight: bold; }

.event button { width: 5em; }
